<html>
<head>
    <title>RAS APP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/searchtoolbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
{% block content %}
<div id="RASForm" class="container">
    <div class="container mt-5">
        <form class="form-inline" id="rasAppForm" action="{{ url_for('render_results') }}" method="post">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="card p-3 py-4">
                        <h5>Royal Auto Assistance Drivers Availability</h5>
                        <div class="mt-3">
                            <div>
                                <div class="card card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <input type="text"
                                                       name="originInput"
                                                       id="originInput"
                                                       placeholder="Search by Zip Code or Coordinates"
                                                       class="form-control"
                                                       required>
                                                <label for="originInput" class="floating-label">Origin</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <input type="text"
                                                       class="form-control"
                                                       name="destinationInput"
                                                       id="destinationInput"
                                                       placeholder="Search by Zip Code or Coordinates">
                                                <label for="destinationInput" class="floating-label">Destination</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <select name="filterByService" id="filterByService"
                                                        class="form-select" required>
                                                    <option value="BREAKDOWN_RECOVERY_SERVICE">Breakdown Recovery
                                                    </option>
                                                    <option value="JUMPSTART_SERVICE">Jumpstart</option>
                                                    <option value="BATTERY_SERVICE">Battery Service</option>
                                                    <option value="TYRE_SERVICE">Tyre Service</option>
                                                    <option value="WRONG_FUEL_SERVICE">Fuel Service</option>
                                                </select>
                                                <label for="filterByService" class="floating-label">Service</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <select name="filterByVehicleType" id="filterByVehicleType"
                                                        class="form-select" required>
                                                    <option value="Type 1">800 - 1200 KG</option>
                                                    <option value="Type 2">1300 - 1700 KG</option>
                                                    <option value="Type 3">1800 - 2200 KG</option>
                                                    <option value="Type 4">2.300 - 3400 KG</option>
                                                    <option value="Type 5">3.500 KG +</option>
                                                </select>
                                                <label for="filterByVehicleType" class="floating-label">Car
                                                    Weight</label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div>
                                            <button class="btn btn-secondary btn-block" type="submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if drivers %}
    <br>
    <h4 id="priceEstimation">Estimated Price To Charge: £ {{ estimatedPrice }}</h4>
    <table id="rasAppDriversData" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Tel</th>
            <th>Live ETA</th>
            <th>Distance</th>
        </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
        <tr>
            <td>{{ driver['Name'] }}</td>
            <td>
                {% for telNr in driver['Tel'] %}
                <a href="tel:{{ driver['Tel'] }}">{{ telNr }}</a>
                {% endfor %}
            </td>
            <td>{{ driver['duration_in_traffic'] }}</td>
            <td>{{ driver['distance'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% endif %}
    {% endblock %}
</div>
</body>
</html>