h4#priceEstimation {
    text-align: center;
    font-weight: bold;
}

.alert, .alert-warning{
    text-align: center;
}

h4#jobDescription{
    text-align: center;
}

div.descriptionNote {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-color: #e6e6e6;
}





